.container {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.cachet {
  position: absolute;
  width: 5vw;
  height: auto;
  margin: 0px;
}
.intro-text {
  font-size: 0.7rem !important;
}

.description-text {
  font-size: 0.7rem !important;
}
@media (max-width: 250px) {
  .avatar-stories {
    display: none !important;
  }
  .btn-comments {
    display: none !important;
  }
  .home-heading {
    font-size: 0.75rem !important;
  }
}
.description-text {
  font-size: 0.65rem !important;
}
.card-picture {
  height: 110px !important;
}
@media (min-width: 320px) {
  .home-heading {
    font-size: 0.7rem !important;
  }
  .description-text {
    font-size: 0.7rem !important;
  }
  .main-text {
    display: none !important;
  }
  .card-picture {
    height: 150px !important;
  }
}
@media (min-width: 350px) {
  .home-heading {
    font-size: 0.7rem !important;
  }
  .main-text {
    display: none !important;
  }
  .card-picture {
    height: 220px !important;
  }
}

/*
Need To Check Home Modal on Small Screens
*/
@media (min-width: 700px) {
  .main-text {
    display: block !important;
  }
}
/*
@media (min-width: 960px) {
  .card-picture {
    height: 220px !important;
  }
}
@media (min-width: 1600px) {
  .card-picture {
    height: 330px !important;
  }
}
*/
.card-location {
  background: #fff1e0;
}
.location-grid-container {
  width: 100vw !important;
  height: 100vh !important;
  outline: none !important;
}
.fixed-home-icon {
  position: fixed;
  left: 15px;
  top: 15px;
  z-index: 99;
}
.fixed-volume-icon {
  position: fixed;
  left: 15px;
  top: 50px;
  z-index: 99;
}
.card-content {
  background: #fff1e0 !important;
}
.desk-container {
  width: 100vw;
  height: 100vh;
  background-image: url(./assets/wood.jpg);
  background-size: cover;
}
.main-map {
  width: 100rem;
}
